@* <link rel="stylesheet" href="~/css/edit.css"> *@
@{
  Layout = "_Layout";
}

@model Factory.Models.License

<h4>Add a license</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Title)
  @Html.TextBoxFor(model => model.Title)

  <input type="submit" value="Add new license" />
}
<p>@Html.ActionLink("Show all licenses", "Index")</p>