@{
  Layout = "_Layout";
}

@using Factory.Models;
@model List<Factory.Models.License>;

<h1>Licenses</h1><br>

<ul>
  @foreach(License license in Model)
  {
    <li>@Html.ActionLink($"{license.Title}", "Details", new { id = license.LicenseId })</li><br>
  }
</ul>

<p>@Html.ActionLink("Add new license", "Create")</p><br>
<p>@Html.ActionLink("Home", "Index", "Home")</p>