<link rel="stylesheet" href="~/css/index.css">
@{
  Layout = "_Layout";
}
<div class="box"></div>

@using Factory.Models;
@model List<Factory.Models.Machine>

<h1>Machine list:</h1><br>

<ul>
  @foreach(Machine machine in Model)
  {
    <li>@Html.ActionLink($"{machine.Name}", "Details", new { id = machine.MachineId } )</li><br>
  }
</ul>

<p>@Html.ActionLink("Add new machine", "Create")</p><br>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
