<link rel="stylesheet" href="~/css/index.css">
@{
  Layout = "_Layout";
}
<div class="box"></div>

@using Schedule.Models;
@model List<Schedule.Models.Player>

<h1>Player list:</h1><br>

<ul>
  @foreach(Player player in Model)
  {
    <li>@Html.ActionLink($"{player.Name}", "Details", new { id = player.PlayerId } )</li><br>
  }
</ul>

<p>@Html.ActionLink("Add new player", "Create")</p><br>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
