@{
  Layout = "_Layout";
}

@using Factory.Models;
@model List<Factory.Models.Engineer>;

<h1>List of Engineers:</h1><br>
<ul>
  @foreach(Engineer engineer in Model)
  {
    <li>@Html.ActionLink($"{engineer.Name}", "Details", new { id = engineer.EngineerId })</li><br>
  }
</ul>

<p>@Html.ActionLink("Add new engineer", "Create")</p><br>
<p>@Html.ActionLink("Home", "Index", "Home")</p>