@* <link rel="stylesheet" href="~/css/styles.css"> *@
@{
  Layout = "_Layout";
}

@* <div id="animate-area"></div> *@

<h1>Welcome to the Factory Manager!</h1><br>

<p>@Html.ActionLink("See all engineers", "Index", "Engineers")</p><br>
<p>@Html.ActionLink("See all machines", "Index", "Machines")</p><br> 
<p>@Html.ActionLink("See all licenses", "Index", "Licenses")</p>