<link rel="stylesheet" href="~/css/styles.css">
@{
  Layout = "_Layout";
}

<div id="animate-area"></div>

<h1>The Sport Schedule for your 2022-23 Carl-bot Cadets!</h1><br>

<p>@Html.ActionLink("See all players", "Index", "Players")</p><br>
<p>@Html.ActionLink("See all sports", "Index", "Sports")</p><br>
<p>@Html.ActionLink("See all semesters", "Index", "Semesters")</p>