@{
  Layout = "_Layout";
}

<h1>Welcome to the Factory Management Tool!</h1><br>

<p>@Html.ActionLink("See all engineers", "Index", "Engineers")</p><br>
<p>@Html.ActionLink("See all machines", "Index", "Machines")</p><br> 
<p>@Html.ActionLink("See all licenses", "Index", "Licenses")</p>